{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
  }
  
  .container {
    display: flex; /* Adicionado para garantir que os filhos sejam distribuídos corretamente */
    flex-direction: column; /* Permite que o conteúdo fique empilhado verticalmente */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    text-align: center;
    position: relative;
  }
  
  .coracao {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: red;
    transform: rotate(45deg);
    animation: bater 1s infinite;
  }
  
  .coracao:before,
  .coracao:after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
  }
  
  .coracao:before {
    top: -50px;
    left: 0;
  }
  
  .coracao:after {
    left: 50px;
    top: 0;
  }
  
  @keyframes bater {
    0%, 100% {
      transform: rotate(-45deg) scale(1);
    }
    50% {
      transform: rotate(-45deg) scale(1.2);
    }
  }
  
  .mensagem {
    margin-top: 35px;
    font-size: 2em;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
